body{
	background:darkred;
	width: 700px;
	margin: 0 auto;
}

p{
	font-style:italic;
	color:white;
	font-size:18px;
}

h1{
	color:lawngreen;
	text-align:center;
	font-size:40px;
}
h2{
	color:deepskyblue;
	text-align:center;
	font-size:30px;
}